.top{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
}
.top h1{
    margin-left: 0.5rem;
    margin-bottom: 0;
    font-size: 39px;
}
.top i {
    font-size: 42px;
    color: rgb(106, 106, 232);
    margin-top: 5px;
}
#voiceSelect{
    background-color: gray;
    color: white;
    padding: 5px 8px 5px 8px;
    border-radius: 10px;
}

.can-body {
    height: 100vh;
}
.all-btn{
    background-color: rgb(106, 106, 232);
    color: white;
    padding: 6px 20px 6px 20px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 10px;
    border: none;
}
.header{
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
}
.header .header-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
}
.header .header-drop-down{
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
   
}
.footer {
    border: 1px solid black;
    border-radius: 0 0 10px 10px;

}
.footer .footer-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.footer .footer-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;            
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;  
}

.inpdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 2.5rem;
    padding: 0;
}
.inpdiv input {
    padding-right: 30px;
}
.inpdiv .mic {
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}
.search {
    background-color: rgb(106, 106, 232);
    color: white;
}
.search:hover , .play:hover{
    background-color: rgb(106, 106, 232);
    color: white;
}
